{% extends "problems/layout.html" %}

{% block title %}
    Contest - {{id}}
{% endblock %}

{% block body %}

{% if started %}

    {% if ended %}
        <div class="errorMessage">Contest ended.</div>
    {% else  %}
        <div class="confirmation-message">Contest is Running. Ends at {{end}}</div>
    {% endif %}
        <!-- <div class="confirmation-message">Ends at {{end}}</div> -->
        <div class="problems_container">
            <h2 class="sec-title">Contest - {{id}} Problems</h2>
            <ul id="problems">
                {% for problem in problems %}
                <a href="https://codeforces.com/contest/{{problem.contestID}}/problem/{{problem.index}}" class="problemLink">
                    <li class="problem">
                        Problem {{forloop.counter}} - {{problem}}
                    </li>
                </a>
                {% if not ended %}
                <form method="post" class="solved-form" action="{% url 'standing' id %}" name="solved">
                    {% csrf_token %}
                    <input type="hidden" name="contestID" value="{{problem.contestID}}">
                    <input type="hidden" name="index" value="{{problem.index}}">
                    <input type="hidden" name="name" value="{{problem.name}}">
                    <input type="hidden" name="user" value="{{request.user.username}}">
                    <input type="hidden" name="problemId" value="{{forloop.counter}}">
                    <input type="submit" name="solved" value="Solved" class="solved">
                </form>
                {%endif%}
                {% endfor %}
            </ul>
            <!-- <form method="post" action="{% url 'standing' id %}">
                {% csrf_token %}
                <input type="submit"  class="submit-button" id="standing" value="Standings">
            </form> -->
            <a href="{% url 'standing' id %}" class="submit-button"  id="standing">Standing </a>
            <form method="post" action="{% url 'index' %}">
                {% csrf_token %}
                <input type="hidden" value="{{id}}" name="id">
                <input type="submit" class="delete-button" value="Delete Contest" name="delete-contest">
            </form>

        </div>
{% else %}
        <div class="errorMessage"> Contest Didn't Start Yet </div>
{% endif %}

    
{% endblock %}