{% extends "problems/layout.html" %}

{% block title %}
    Contest - {{id}}
{% endblock %}

{% block body %}

{% if ended %}
    <div class="errorMessage">Contest ended.</div>
{% else  %}
    <div class="confirmation-message">Contest is Running. Ends at {{end}}</div>
{% endif %}
    <!-- <div class="confirmation-message">Ends at {{end}}</div> -->
    <div class="problems_container">
        <h2 class="sec-title">Contest - {{id}} Problems</h2>
        <ul id="problems">
            {% for problem in problems %}
            <a href="https://codeforces.com/contest/{{problem.contestID}}/problem/{{problem.index}}" class="problemLink">
                <li class="problem">
                    {{problem}}
                </li>
            </a>
            {% endfor %}
        </ul>
        <form method="post" action="{% url 'index' %}">
            {% csrf_token %}
            <input type="hidden" value="{{id}}" name="id">
            <input type="submit" class="delete-button" value="Delete Contest" name="delete-contest">
        </form>
    </div>
    
{% endblock %}