{% extends "problems/layout.html" %}

{% block body %}

    {% if errorMessage %}
        <div class="errorMessage">{{errorMessage}}</div>
    {% endif %}

    <form method="post" action="{% url 'newSheet' %}">
        {% csrf_token %}
        <label> Enter all the users to particpate in the sheet separated by a comma</label>
        <input type="text" placeholder="Users" name="users" class="form-data">
        <input name="minRate" placeholder="Min Rate" type="number" class="form-data"> 
        <input name="maxRate" placeholder="Max Rate" type="number" class="form-data">
        <input name="problemsNumber" placeholder="Number of Problems" class="form-data">
        <label class="topic">Choose Problems Topics:</label>
        <select name="tags" id="tags" multiple class="form-data">
            <!-- <option value=""></option> -->
            {% for tag in tags %}
                <option value="{{tag.name}}">
                    {{tag.name}}
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="Create Sheet" class="submit-button">
    </form>

{% endblock %}