{% extends "problems/layout.html" %}

{% block body %}

    {% if errorMessage %}
        <div class="errorMessage">{{errorMessage}}</div>
    {% endif %}

    <form method="post" action="{% url 'newSheet' %}">
        {% csrf_token %}
        <label> Enter all the users to particpate in the contest separated by a comma:</label>
        <input type="text" placeholder="Users" name="users">
        <select name="tags" id="tags" multiple>
            <!-- <option value=""></option> -->
            {% for tag in tags %}
                <option value="{{tag.name}}">
                    {{tag.name}}
                </option>
            {% endfor %}
        </select>
        <input name="minRate" placeholder="Min Rate" type="number"> 
        <input name="maxRate" placeholder="Max Rate" type="number">
        <input name="problemsNumber" placeholder="Number of Problems">
        <input type="submit" value="Create Sheet">
    </form>

{% endblock %}