{% extends "problems/layout.html" %}

{% block title %}
    {{request.user.username}} - Sheets
{% endblock %}

{% block body %}

<div class="problems_container">
    <h2 class="sec-title">{{request.user.username}} Sheets</h2>
    <ul id="problems">
        {% for sheet in sheets %}
            <a href="{% url 'sheet' sheet.id %}" class="problemLink">
                <li class="problem">
                    Sheet - {{sheet.id}}
                </li>
            </a>
        {% endfor %}
    </ul>
</div>

{% endblock %}