body{
    background-color: black !important;
    padding-bottom: 70px;
}

#links{
    list-style-type: none;
    display: inline;
}

.nav-button{
    display: inline-block;
    float: right;
}

.name-header{
    display: inline-block;
    font-size: 25px;
    padding: 10px 0;
    color: rgb(19, 244, 79);
}

h2, h6, p{
    color: white;
}

.problem{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    border: solid;
    border-width: 1px;
    margin:10px 10px 10px -30px;
    list-style: none;
    color:white;
}

.problem:hover{
    background-color: rgb(19, 244, 79);
    font-weight: bold;
    color: black;
    
}

.problemLink{
    display: inline-block;
    color: black;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none !important;
}

.solved-form{
    display: inline-block;
    width: 20%;
}

.solved{
    display: inline-block;
    width: 20%;
    color: white;
    background-color: black;
    border: solid white 1px;
    padding: 20px;
    width: 100%;
}


.problems_container{
    background-color: black;
    border: solid rgb(61, 61, 61) 1px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}

ul #problems{
    display: inline-block;
    text-align: left;
}

.errorMessage{
    width: 95%;
    text-align: center;
    background-color: rgb(226, 161, 161);
    color: rgb(130, 7, 7);
    padding: 20px 10px;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-color: rgb(116, 5, 5);
    font-weight: bold;
}

.confirmation-message{
    width: 95%;
    text-align: center;
    background-color: rgb(105, 253, 105);
    color: rgb(22, 109, 22);
    padding: 20px 10px;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-color: rgb(33, 161, 33);
    font-weight: bold;
}

.nav-button a{
    margin-top: 5px;
    display: block;
    padding: 10px 20px;
    color: white !important;
    text-decoration: none !important;
}

.nav-button a:hover{
    color: rgb(19, 244, 79) !important;
    text-decoration: none;
    background-color: rgb(58, 58, 58);
}

.nav-bar{
    background-color: black;
    padding: 5px;
    height: 60px;
    width: 100%;
    border-bottom: solid white 5px;
}

.main-form{
    background-color: black;
    border:solid;
    width:500px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

input{
    display: block;
}

.submit-button{
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    border: solid rgb(19, 244, 79) 2px;
    color: rgb(19, 244, 79);
    font-weight: bold;
}

.submit-button:hover, .solved:hover{
    background-color: rgb(19, 244, 79);
    font-weight: bold;
    color: black;
    border: none;
}

.delete-button{
    width: 30%;
    margin: 20px auto;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    border: solid rgb(216, 20, 20) 2px;
    font-weight: bold;
    color: rgb(216, 20, 20);
}

.delete-button:hover{
    background-color: rgb(216, 20, 20);
    color: black;
}

#standing{
    width: 30%;
    margin: 10px auto;
}

.form-data{
    width: 100%;
    padding: 5px;
    margin: 20px 0;
    background-color: black;
    border-color: rgb(61, 61, 61);
    border-style: solid;
    border-width: 0 0 1px 0;
    color: white;
}

form p, label{
    text-align: center;
}

.username{
    font-weight: bolder;
}

label{
    color: white;
    border: solid rgb(46, 46, 46) 1px;
    padding: 5px;
}

form .topic{
    border: none;
    margin: 20px 0 0 0;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.sec-title{
    color: rgb(19, 244, 79);
    text-align-last: center;
    padding: 20px;
    font-size: 25px;
    border-bottom: solid rgb(61, 61, 61) 5px;
    margin-bottom: 20px;
}

.footer{
    border-top: solid white 5px;
    margin-top: 50px;
    padding-bottom: 40px;
}

.contact{
    color: white;
}

table, td, th{
    color: white;
    padding: 20px;
    border:solid;
}

table{
    margin: 30px auto;
}